<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <!-- <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li> -->
                        <li class="breadcrumb-item"><a href="#">Roles y Permisos </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Registro</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-box">
                    <h4 class="card-title">Creación de rol</h4>
                    <form action="#">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Nombre</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card-box">
                    <h4 class="card-title">Asignación de permisos</h4>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>Sección</th>
                                        <th>Permisos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Doctor</td>
                                        <td>
                                            <div class="">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="checkbox"> Doctor List
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="checkbox"> Doctor Add
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="checkbox"> Profile Doctor
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Paciente</td>
                                        <td>
                                            <div class="">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="checkbox"> Paciente List
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="checkbox"> Paciente Add
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="checkbox"> Profile Paciente
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>